body{
    margin: 0%;
    padding: 6px;
    background-color: aliceblue;
}

.btn{
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    border-radius: 2px;
    margin: 0;
    outline: none;
    text-decoration: none;
    cursor: pointer; 
}

.btn-danger{
    background-color:rgb(250, 91, 91);
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    border-radius: 2px;
    margin: 0;
    outline: none;
    text-decoration: none;
    cursor: pointer; 
}

a {
    text-decoration: none;
    color: black; 
    cursor: pointer; 
    outline: none; 
}